<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Djursland Landboforening - Oversigt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
            integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/overviewStyle.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">ny bruger</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/opretOrdre">ny ordre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">statistik</a>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="query" placeholder="search" aria-label="Search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">
            <img src="/search.svg" alt="search icon">
        </button>
    </form>
</nav>

<div id="contentData">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>konsulent</th>
            <th>dato oprettet</th>
            <th>fastnet nr</th>
            <th>mobil nr</th>
            <th>navn</th>
            <th>adresse</th>
            <th>kommentar</th>
        </tr>
        </thead>
        <tbody>
        {{#each orders}}
            <tr>
                <td>
                    {{consultant}}
                </td>
                <td>
                    {{signedDate}}
                </td>
                <td>
                    {{landlineNumber}}
                </td>
                <td>
                    {{phoneNumber}}
                </td>
                <td>
                    {{name}}
                </td>
                <td>
                    {{farmName}}, {{address.street}}, {{address.city}}, {{address.zip}}
                </td>
                <td>
                    {{comment}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>