<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Djursland Landboforening</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" async defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" defer></script>
    <script src="https://momentjs.com/downloads/moment.min.js" async defer></script>
    <script src="/editOrderModal.js" async defer></script>
    <link rel="stylesheet" type="text/css" href="/overviewStyle.css">
    <script defer>
        'use strict';

        function convertFormToObject(form) {
            const data = {};
            const f = new FormData(form);
            for (const [key,value] of f.entries()) {
                data[key] = value;
            }
            return data;
        }

        window.addEventListener('load', function() {
            new EditOrderModal();

            $("#inputSignedDate").val(moment(new Date()).format("YYYY-MM-DD"));
            $("#inputSignedDate").val(moment(new Date()).format("YYYY-MM-DD"));

            $("#orderCreateCancel").click(() => {
                clearOrderCreate();
            });

            $("#orderCreateClose").click(() => {
                clearOrderCreate();
            });

            $(document).keyup((e) => {
                if(e.which == 27){
                    clearOrderCreate();
                }
            });

            function clearOrderCreate(){
                // TODO: Sæt konsulent tilbage til bruger
                $("#inputSignedDate").val("2017-11-21");
                $("#inputName").val("");
                $("#inputFarmName").val("");
                $("#inputStreet").val("");
                $("#inputZip").val("");
                $("#inputCity").val("");
                $("#inputLandlineNumber").val("");
                $("#inputPhoneNumber").val("");
                $("#inputComment").val("");
            }


            const form = document.getElementById('orderCreateForm');
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                event.stopPropagation();

                const landline = $("#inputLandlineNumber");
                const mobile = $("#inputPhoneNumber");

                landline[0].setCustomValidity("");
                mobile[0].setCustomValidity("");

                if(!(landline[0].validity.valid && landline.val()) && !(mobile[0].validity.valid && mobile.val())){
                    landline[0].setCustomValidity("Mindst et telefonnummer skal angives");
                    mobile[0].setCustomValidity("Mindst et telefonnummer skal angives");
                }else{
                    landline[0].setCustomValidity("");
                    mobile[0].setCustomValidity("");
                }

                if (form.checkValidity() === true) {
                    const data = convertFormToObject(form);
                    $.ajax({
                        url: "/order/create",
                        method: "POST",
                        data: JSON.stringify(data),
                        headers: {
                            "content-type": "application/json"
                        }
                    }).then(location.reload());
                }

                form.classList.add('was-validated');
            }, false);

            $(".sortable").click(function () {
                var id = $(this).attr("id");
                var ls = location.search;
                var order = (ls.indexOf("order=asc")!==-1) ? "&order=desc" : "&order=asc";
                if (ls.length === 0 || (ls.indexOf("sortBy")!==-1 && ls.indexOf("query") === -1)){
                    location.search = "sortBy=" + id + order;
                }
                else if (ls.indexOf("query") !== -1 && ls.indexOf("sortBy") === -1){
                    location.search += "&sortBy=" + id + order;
                }else {
                    location.search = location.search.substring(0,location.search.indexOf("&")) + "&sortBy=" + id + order;
                }
            })
        });
    </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#createOrderModal">opret ordre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">opret bruger</a>
            </li>
        </ul>

        <span id="navbar-statistics" style="position: absolute; left: 50%; transform: translateX(-50%);"
              class="navbar-text justify-content-center">{{totalTaken}} / {{totalSamples}}</span>
    </div>

    <form id="search" class="form-inline my-4 my-sm-0">
        <div class="input-group">
            <input class="form-control" type="search" name="query" placeholder="Søg..." aria-label="Search" value="{{query}}">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit" style="cursor: pointer;">
                    <img src="/search.svg" alt="search icon">
                </button>
            </span>
        </div>
    </form>
</nav>

<div id="contentData">
    <table class="table table-fixed table-striped">
        <thead>
            <tr>
                <th class="sortable" id="consultant">konsulent</th>
                <th class="sortable" id="date">oprettet dato</th>
                <th class="sortable" id="landline">fastnet tlf.</th>
                <th class="sortable" id="mobile">mobil tlf.</th>
                <th class="sortable" id="name">navn</th>
                <th class="sortable" id="address">adresse</th>
                <th>kommentar</th>
                <th>Prøve tæthed</th>
                <th class="sortable" id="area">Areal</th>
                <th class="sortable" id="sameAsLast">Samme plan som sidst</th>
                <th class="sortable" id="self">Selvudtag</th>
            </tr>
        </thead>
        <tbody>
            {{#each orders}}
                <tr class="order" data-order-id="{{_id}}">
                    <td>
                        {{consultant}}
                    </td>
                    <td>
                        {{signedDate}}
                    </td>
                    <td>
                        {{landlineNumber}}
                    </td>
                    <td>
                        {{phoneNumber}}
                    </td>
                    <td>
                        {{name}}
                    </td>
                    <td>
                        {{farmName}}, {{address.street}}, {{address.city}}, {{address.zip}}
                    </td>
                    <td>
                        {{comment}}
                    </td>
                    <td>
                        {{#if sampleDensity}}
                            1/{{sampleDensity}}ha
                        {{else}}
                            ikke sat
                        {{/if}}
                    </td>
                    <td>{{area}}ha</td>
                    <td>
                        {{#if samePlanAsLast}}
                            <img src="/check.svg" alt="flueben"/>
                        {{/if}}
                    </td>
                    <td>
                        {{#if takeOwnSamples}}
                            <img src="/check.svg" alt="flueben"/>
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{> createOrderModal}}
{{> editOrderModal}}

</body>
</html>